@import "zmienne";
@import "mixin";

#meet-our-team {
    background-color: $white-color;
    @include section-att;
    
        .main-heading h2 {
                @include headings;
        }
        .section-description {
                @include section-description;
        }
        .person-card {
                float: none;
                margin: 10px auto;
        }
    
        .person-card img {
                max-width:200px;
        }
        .social-media i {
                background-color:black;
                width:38px;
                height:38px;
                border-radius:100px;
                line-height:2.5;
                color:$white-color;
        }
        .social-media i:hover {
                background-color: $base-color;
        }
            
    }
       
        
    
    
