/*Small devices*/
@media screen and (max-width:480px) { 
     #product-box .product .product-item {
        width: 90%;
    }
}
/*Medium devices*/
@media screen and (min-width:481px) and (max-width:992px) { 
    #product-box .product .product-item {
        width: 45%;
    }
}
/*Large devices*/
@media screen and (min-width:993px) {
    #product-box .product .product-item {
        width: 20%;
    }
}