/* General Styles*/
body {
    background-color:  #98fb98;
    margin:0;
}
/*Product Styles */
#product-box {
    text-align: center;
}
#product-box .product-item {
    width:200px;
    height:200px;
    background-position:center;
    background-repeat: no-repeat;
    display: inline-block;
    margin:15px;
    background-size: cover;
    position:relative;
}
#product-box #product-1 {
    background-image: url('../img/product-1.jpg');
}
#product-box #product-2 {
    background-image: url('../img/product-2.jpg');
}
#product-box #product-3 {
    background-image: url('../img/product-3.jpg');
}
#product-box #product-4 {
    background-image: url('../img/product-4.jpg');
}
#product-box .item-overlay {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:  rgba(255, 111, 0, 0.6);
    opacity:0;
    transition: .5s ease;
}
#product-box .item-overlay:hover {
    opacity:1;
}
#product-box .item-icon {
    position:absolute;
    top:45%; 
    left:0;
    right:0;
}
#product-box .item-icon a {
    color:#fff; 
    font-size:25px;
}