/*General styles*/

* {

    margin: 0;
    padding: 0;

}

/*Menu styles*/

#main-nav {

    width: 100%;
    background-color: darkblue;
    position: relative;
    top: 0;

}

#main-nav ul {

    display: inline-block;
    list-style: none;
    color: #fff;

}

#main-nav ul > li {

    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 15px;
    text-transform: uppercase;

}

#main-nav #left-nav {

    padding-left: 10px;

}

#main-nav #right-nav {

    float: right;
    padding-right: 10px;
}
 /*Triangle styles*/
.triangle {

    height: 100px;
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: darkblue;

}

.triangle:after {

    content: "";
    position: absolute;
    width: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 90px solid #fff;
    bottom: 0;

}

#main-content .main-text h1 {

    text-align: center;

}