#main-footer {
  background-color: #fff;
  height: auto;
  padding: 10px;
  display: flex; }
  #main-footer .social-media-footer i {
    background-color: black;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    line-height: 2.5;
    color: #fff;
    text-align: center; }
  #main-footer .social-media-footer i:hover {
    background-color: #0ed8d6; }
  #main-footer .footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right; }
    #main-footer .footer-nav ul li {
      display: inline-block;
      padding: 0 5px; }
      #main-footer .footer-nav ul li a {
        color: #333333;
        font-weight: 600; }
