@media all and (max-width: 992px) {
  .navbar {
    background-color: #fff; }
    .navbar .navbar-toggler {
      border: 1px solid #0ed8d6; }
    .navbar .navbar-nav .nav-item {
      text-align: right;
      padding: 10px 0;
      border-top: 1px solid rgba(119, 119, 119, 0.6); }
      .navbar .navbar-nav .nav-item .nav-link {
        color: #333333; }
    .navbar .navbar-brand {
      color: #fff;
      text-transform: uppercase;
      transition: 3s; }
      .navbar .navbar-brand :hover {
        color: #333333; }
  #main-footer .footer-content {
    text-align: center; }
  #main-footer .footer-nav ul {
    text-align: center; } }

@media all and (max-width: 768px) {
  #contact-us {
    margin-bottom: 30px; }
  #main-footer .footer-content {
    text-align: center; }
  #main-footer .footer-nav ul {
    text-align: center; } }
