body {
  font-family: "RobotoSlab", serif;
  color: #333333; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: "Montserrat", sans-serif;
    color: #333333; }
  body h3 {
    font-size: 1.2rem; }
  body section {
    padding: 80px 0;
    text-align: center; }

.navbar {
  transition: all .3s; }
  .navbar .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    transition: 3s;
    font-family: "Montserrat", sans-serif; }
    .navbar .navbar-nav .nav-link :hover {
      color: #333333; }
  .navbar .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    transition: 3s;
    font-family: "Droid Serif";
    font-size: 2em; }
    .navbar .navbar-brand :hover {
      color: #333333; }

.scroll {
  background-color: rgba(14, 216, 214, 0.8); }
  .scroll .navbar-nav .nav-link:hover,
  .scroll .navbar-brand:hover {
    color: gray-color; }

#main-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/header/pictures_on_the_wall.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center; }
  #main-header .main-button {
    background-color: #0ed8d6;
    color: #fff;
    font-family: 'Montserrat', sans-serif; }
  #main-header .main-button:hover {
    background-color: #fff;
    color: #0ed8d6;
    border: solid 1px #0ed8d6; }

#services {
  background-color: #fff;
  height: auto;
  display: flex;
  text-align: center; }
  #services .main-heading h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    color: #333333; }
  #services .section-description {
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333333; }
  #services .services-item .fa {
    width: 100px;
    height: 100px;
    background-color: #0ed8d6;
    line-height: 100px;
    color: #fff;
    border-radius: 50%;
    font-size: 50px;
    margin-bottom: 20px;
    border: 2px solid #0ed8d6;
    transition: all .3s; }
  #services .services-item .fa:hover {
    cursor: pointer;
    background-color: #fff;
    color: #0ed8d6;
    transform: rotate(360deg); }
  #services .services-text {
    font-size: 14px;
    padding: 5px; }

#portfolio {
  background-color: #f7f7f7;
  height: auto;
  display: flex;
  text-align: center; }
  #portfolio .main-heading h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    color: #333333; }
  #portfolio .section-description {
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333333; }
  #portfolio .card {
    float: none;
    margin: 10px auto;
    width: 20em;
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
    #portfolio .card .portfolio-image-holder {
      height: 225px;
      overflow: hidden;
      position: relative; }
    #portfolio .card .portfolio-image-holder img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      transition: all 3s; }
    #portfolio .card .portfolio-image-holder:hover img {
      transform: scale(1.5); }
    #portfolio .card .portfolio-mask {
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(14, 216, 214, 0.6);
      top: 0;
      color: #fff;
      font-size: 2em;
      opacity: 0;
      transition: all .3s; }
    #portfolio .card i {
      line-height: 230px;
      color: #fff;
      font-size: 60px; }
    #portfolio .card:hover .portfolio-mask {
      opacity: 1; }
    #portfolio .card .card-block .card-title {
      text-align: center;
      margin-bottom: 0; }
    #portfolio .card .card-block .card-text {
      text-align: center;
      padding: 2px;
      font-family: "Droid Serif";
      font-style: italic; }

#meet-our-team {
  background-color: #fff;
  height: auto;
  display: flex;
  text-align: center; }
  #meet-our-team .main-heading h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    color: #333333; }
  #meet-our-team .section-description {
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333333; }
  #meet-our-team .person-card {
    float: none;
    margin: 10px auto; }
  #meet-our-team .person-card img {
    max-width: 200px; }
  #meet-our-team .social-media i {
    background-color: black;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    line-height: 2.5;
    color: #fff; }
  #meet-our-team .social-media i:hover {
    background-color: #0ed8d6; }

#contact-us {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../img/footer/world-map.jpg);
  display: flex;
  text-align: center; }
  #contact-us .main-heading h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    color: #333333; }
  #contact-us .section-description {
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333333; }
  #contact-us input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #222222;
    height: 50px; }
  #contact-us textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #222222;
    height: 100%; }
  #contact-us input[type="submit"] {
    background-color: #0ed8d6;
    color: #fff;
    margin-top: 20px; }

#main-footer {
  background-color: #fff;
  height: auto;
  padding: 10px;
  display: flex; }
  #main-footer .social-media-footer i {
    background-color: black;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    line-height: 2.5;
    color: #fff;
    text-align: center; }
  #main-footer .social-media-footer i:hover {
    background-color: #0ed8d6; }
  #main-footer .footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right; }
    #main-footer .footer-nav ul li {
      display: inline-block;
      padding: 0 5px; }
      #main-footer .footer-nav ul li a {
        color: #333333;
        font-weight: 600; }

@media all and (max-width: 992px) {
  .navbar {
    background-color: #fff; }
    .navbar .navbar-toggler {
      border: 1px solid #0ed8d6; }
    .navbar .navbar-nav .nav-item {
      text-align: right;
      padding: 10px 0;
      border-top: 1px solid rgba(119, 119, 119, 0.6); }
      .navbar .navbar-nav .nav-item .nav-link {
        color: #333333; }
    .navbar .navbar-brand {
      color: #fff;
      text-transform: uppercase;
      transition: 3s; }
      .navbar .navbar-brand :hover {
        color: #333333; }
  #main-footer .footer-content {
    text-align: center; }
  #main-footer .footer-nav ul {
    text-align: center; } }

@media all and (max-width: 768px) {
  #contact-us {
    margin-bottom: 30px; }
  #main-footer .footer-content {
    text-align: center; }
  #main-footer .footer-nav ul {
    text-align: center; } }
