#meet-our-team {
  background-color: #fff;
  height: auto;
  display: flex;
  text-align: center; }
  #meet-our-team .main-heading h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    color: #333333; }
  #meet-our-team .section-description {
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333333; }
  #meet-our-team .person-card {
    float: none;
    margin: 10px auto; }
  #meet-our-team .person-card img {
    max-width: 200px; }
  #meet-our-team .social-media i {
    background-color: black;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    line-height: 2.5;
    color: #fff; }
  #meet-our-team .social-media i:hover {
    background-color: #0ed8d6; }
